<ul>
  {{#each this.dataSets as |dataSet|}}
    <li>
      <Input
        id={{dataSet.name}}
        @type="checkbox"
        @checked={{dataSet.isPassedToPlotly}}
      />
      <label for={{dataSet.name}}>{{dataSet.name}}</label>
    </li>
  {{/each}}
</ul>
<Plotly
  @chartData={{this.chartData}}
  @chartLayout={{this.chartLayout}}
  @chartConfig={{this.chartConfig}}
/>
