<Plotly
  @data={{this.data}}
  @layout={{this.layout}}
  @config={{this.config}}
  @plotlyEvents={{this.plotlyEvents}}
  @onPlotlyEvent={{action "onPlotlyEvent"}}
/>
<ul>
  <li>lastClicked: {{lastClicked}}</li>
  <li>lastDoubleClicked: {{lastDoubleClicked}}</li>
</ul>
