<Plotly
  @chartData={{this.chartData}}
  @chartLayout={{this.chartLayout}}
  @chartConfig={{this.chartConfig}}
  @plotlyEvents={{this.plotlyEvents}}
  @onPlotlyEvent={{action "onPlotlyEvent"}}
/>
<ul>
  <li>lastClicked: {{lastClicked}}</li>
  <li>lastDoubleClicked: {{lastDoubleClicked}}</li>
</ul>
