<Plotly
  @chartData={{this.chartData}}
  @chartLayout={{this.chartLayout}}
  @chartConfig={{this.chartConfig}}
  {{on "plotly_click" (action "onPlotlyEvent" "click")}}
/>

<button onclick={{action "start"}} type="button">Start</button>
<button onclick={{action "stop"}} type="button">Stop</button>
<button onclick={{action "clear"}} type="button">Clear</button>

currentTrace: {{this.currentTrace}}, currentIndex: {{this.currentIndex}}
