{{plot-ly
  data=data
  layout=layout
  config=config
  plotlyEvents=plotlyEvents
  onPlotlyEvent=(action "onPlotlyEvent")
  isResponsive=true
}}

<button onclick={{action "start"}} type="button">Start</button>
<button onclick={{action "stop"}} type="button">Stop</button>
<button onclick={{action "clear"}} type="button">Clear</button>

currentTrace: {{currentTrace}}, currentIndex: {{currentIndex}}
