<Plotly
  @data={{this.data}}
  @layout={{this.layout}}
  @config={{this.config}}
  {{on "plotly_click" (action "onPlotlyEvent" "click")}}
/>

<Input @type="number" min="100" max="3600" step="100" @value={{this.interval}} />

<button {{on "click" this.start}} type="button">Start</button>
<button {{on "click" this.stop}} type="button">Stop</button>
<button {{on "click" this.clear}} type="button">Clear</button>

currentTrace: {{this.currentTrace}}, currentIndex: {{this.currentIndex}}
