{{plot-ly
  chartData=chartData
  chartLayout=chartLayout
  chartConfig=chartConfig
  plotlyEvents=plotlyEvents
  onPlotlyEvent=(action 'onPlotlyEvent')
}}

<button onclick={{action 'start'}}>Start</button>
<button onclick={{action 'stop'}}>Stop</button>
<button onclick={{action 'clear'}}>Clear</button>

currentTrace: {{currentTrace}}, currentIndex: {{currentIndex}}
