{{#if this._showStateForDebugging}}
  <button type="button" {{on "click" this.update}}>Force update</button>
  {{! we "use" this.data here to ensure recomputation }}
  <pre style="max-height: 200px; overflow-y: scroll;">
{{print-json this.data}}
  </pre>
{{else}}
  {{look-but-do-not-touch this.config this.data this.layout}}
{{/if}}
<div
  id={{this.plotlyContainerElementId}}
  {{did-insert this.update}}
  {{did-update this.update}}
  {{will-destroy this.unbindPlotlyEventListeners}}
  ...attributes
>
  {{!yield}}
</div>
